<div class="container-fluid" >
  <div class = "row">
     <!-- <div class="col-md-3 col-sm-2 logo" style="opacity: 1;color : black ;font-weight: 1000; "><img src="../../assets/images/remlog.png" ></div> -->
     <div class="col-md-3 col-sm-2" style="opacity: 1;color : black ;font-weight: 1000;font-family:sans-serif ">BitWiz</div>
    <div class="col-md-5 col-sm-2" ></div>
    <a href="#home" class="col-md-1 col-sm-1" style="color : black; font-weight: 1000;">Home</a>
    <a href="#about-us" class="col-md-1 col-sm-1" style="color : black; font-weight: 1000;">About Us</a>
    <a href="#learning" class="col-md-1 col-sm-1" style="color : black; font-weight: 1000;">Courses</a>
    <a href="#book" class="col-md-1 col-sm-1" style="opacity: 1;color : black"><button class="btn btn-primary">Book Now</button></a>
  </div>
</div>

