<div class="footer">
  <div class = "row">
  <div class = "col-md-8"></div>

  <div class = "row icons col-md-4">
    <div class="col-md-1"><a href="#" class="fa fa-facebook"></a></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"><a href="#" class="fa fa-linkedin"></a></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"><a href="#" class="fa fa-instagram"></a></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"><a href="#" class="fa fa-youtube"></a></div>
    <div class="col-md-1"></div>
    <div class="col-md-1"><a href="mailto:mansisingh1430@gmail.com" class="fa fa-google"></a></div>

  </div>
</div>
<!-- <svg xmlns="http://www.w3.org/2000/svg" viewBox="0 0 1440 320"><path fill="#ff5500" fill-opacity="1" d="M0,256L1440,224L1440,320L0,320Z"></path></svg> -->

</div>
