<div class ="bod" id="learning">
  <h3 >Courses </h3>
  <br>
  <!--1st row-->
  <!-- <div class="row">
    <div class="col-md-4"></div>
    <div class="col-md-4">
        <div><img src="../../assets/images/CODING_BASIC.jpg" width="300" height="300" style="border: 0.1rem solid #FF5500;"></div>

   </div>
  </div> -->

  <!--@nd Row-->
  <div class="row">
    <div class="col-md-2"></div>
    <div class="c1 col-md-2">
      <h4 class="container-fluid">Logic Building and Intuitive Thinking</h4>
      <p>We want to instill a sense of logic and reasoning in your child, so that he/she can become rational.</p>
   </div>
   <div class="col-md-1"></div>
   <div class="c1 col-md-2">
    <h4>Introduction to  different Tech-Paths</h4>
    <p>We want to introduce different paths that exist in the field of computer and technology other than coding so that it widens your child's perspective.</p>
 </div>
  <div class="col-md-1"></div>
  <div class="c1 col-md-2">
    <h4>Interactive Sessions</h4>
    <p>We have crafted a series of interactive activities to work for your child's overall development.</p>
  </div>
  <div class="col-md-3"></div>
  </div>
</div>
